ul.hr li {
	display: inline; /* Отображать как строчный элемент */
	margin-right: 10px; /* Отступ слева */
	border: 1px solid #000; /* Рамка вокруг текста */
	padding:7px; /* Поля вокруг текста */
}

a.h1{
	text-decoration: none; /* Убирает подчеркивание для ссылок */
} 

table.text  {
	width:  100%; /* Ширина таблицы */
	border-spacing: 0; /* Расстояние между ячейками */
}
table.text td {
	width: 50%; /* Ширина ячеек */
	vertical-align: top; /* Выравнивание по верхнему краю */
}
td.rightcol { /* Правая ячейка */ 
	text-align: right; /* Выравнивание по правому краю */
} 