{% extends "common/base.html" %}

{% load journal_extras %}

{% block title %}
    Карточка телефона №{{ pbxport.subscriber_number }}
{% endblock title %}

{% block page %}
  <h3>Телефон №{{ pbxport.subscriber_number }}</h3>
  <p>Расположения телефонных аппаратов: {{ phones_locations }}</p>
  <p>Абоненты: {{ subscribers }}</p>
  <p>Маршрут:</p>
  <table class="crosspath">
  {% autoescape off %}
    {% get_point_path_table point.0 1 0 %}
  {% endautoescape %}
  </table>

  <p>Последние изменения: {{ last_edit_person }}</p>
  <p>АТС: {{ pbxport.pbx }}</p>
{% endblock page %}
